# Please do not directly edit this file. Instead, modify the .env variables related to NGINX configuration.

server {
    listen 80;
    server_name ${NGINX_SERVER_NAME};
    
    # Include ACME challenge location for Let's Encrypt
    location /.well-known/acme-challenge/ {
        root /var/www/html;
        try_files $uri =404;
    }
    
    # API service
    location /api/ {
        proxy_pass http://docker_api_1:5001/;
    }
    
    # Web service
    location / {
        proxy_pass http://docker_web_1:3000/;
    }
    
    # Redirect all other HTTP traffic to HTTPS if HTTPS is enabled
    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
}
